<h3>About Cirrus App</h3>
<div class="outer">
  <div class="inner">
    <h4>What is Palindrome?</h4>
    <blockquote><cite><q>A palindrome is a word, phrase, number, or other sequence of characters which reads the same backward as forward, such as madam or racecar.</q></cite> - Wikipedia</blockquote>
    <blockquote><cite><q>A palindromic number or numeral palindrome is a number that remains the same when its digits are reversed. Like 16461.</q></cite> - Wikipedia</blockquote>
  </div>
</div>
<div class="outer2">
  <div class="inner1">
    <h4>Features of the Application</h4>
    <div id="div-hov" style="padding-left: 5px;">
      <div class="form-style-10 section"><span>1</span>Compute the largest palindrome in the given range of numbers.
      </div>

    </div>
    <div id="div-hov" style="padding-left: 5px;">
      <div class="form-style-10 section"><span>2</span>View all the palindromes in the given range of numbers.
      </div>
    </div>
    <div id="div-hov" style="padding-left: 5px;">
      <div class="form-style-10 section"><span>3</span>Automatically stores and retrieves the previously computed palindromes from local storage.
      </div>
    </div>
  </div>
</div>
<div class="outer3">
  <div class="inner2">
    <h4>How to use it?</h4>
    <div id="videoDiv">
      <div id="videoBlock">
        <video preload="preload" id="video" width="100%"  autoplay="autoplay" loop="loop">
          <source src="img/screen1.webm" type="video/webm"></source>
        </video>
        <div id="videoMessage">
          <p class="videoClick" >
            <a href="#!/main">Click to run the app.</a>
          </p>
        </div>
      </div>
    </div>
    <div class="steps">
      <div id="div-hov" style="padding-left: 5px;">
        <div class="form-style-10 section"><span>1</span>Choose values for lower and upper bound.
        </div>

      </div>
      <div id="div-hov" style="padding-left: 5px;">
        <div class="form-style-10 section"><span>2</span>Choose if you want to see all palindromes in the selected range.(Optional).
        </div>
      </div>
      <div id="div-hov" style="padding-left: 5px;">
        <div class="form-style-10 section"><span>3</span>Submit and you're done. Enjoy the App!!.
        </div>
      </div>
    </div>
  </div>
</div>
